
.webBg{
  background-color: whitesmoke;
  background-image: url('././assests/bacgkround-img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.scrollable-container {
  height: 300px; /* Adjust the height as needed */
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #888888 #f0f0f0;
}

/* Track */
.scrollable-container::-webkit-scrollbar {
  width: 8px; /* Adjust the width as needed */
}

/* Handle */
.scrollable-container::-webkit-scrollbar-thumb {
  background-color: #08B3CC; /* Adjust the color as needed */
  border-radius: 4px;
}

/* Handle on hover */
.scrollable-container::-webkit-scrollbar-thumb:hover {
  background-color: #fff; /* Adjust the hover color as needed */
}

/* Track */
.scrollable-container::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Adjust the background color as needed */
  border-radius: 4px;
}
